# front-end modules, logs etc.
frontend/node_modules/
frontend/.idea/
frontend/npm-debug.log

# back-end modules, logs etc
backend/node_modules/
backend/.idea/
backend/npm-debug.log
backend/results

.idea/
.vscode/

# locally generated tiles (redundant)
sat_data/