<!-- home.html -->
<div class="jumbotron text-center">
    <div id="outer">
        <leaflet lf-center="center" id="map" markers="markers" layers="layers" defaults="defaults" events="events" event-broadcast="events"></leaflet>
    </div>

    <div class="container-fluid">
        <div class="row">
            <h2>Processing and Analysis Workflows for UAS-Borne Spatial Data</h2>
        </div>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <div class="box" style="width: 600px;">
                    <input type="file" ng-file-model="files" style="display: inline;" multiple />
                    <button type="button" ng-click="upload()" style="display: inline;">Upload</button>
                </div>

                <p ng-repeat="file in files">
                    {{file.name}}
                </p>

                <button type="button" ng-click="orthophoto()">Do orthophoto</button>

                <button type="button" ng-click="ndvi()">Do NDVI</button>

                <button type="button" ng-click="las()">Do LAS</button>

                <p ng-repeat="file in files">
                    {{file.name}}
                </p>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </div>
    <div class="row">
    </div>
</div>